<div class="filter" align="center">
    
    <div class="row">
        <div class="col-md-12">
            <select class="form-select" id="brandselect"
                    [(ngModel)]="currentBrandId"    >
                <option 
                    [ngValue]="undefined" disabled  selected> 
                   Brands
                </option>
                <option 
                    *ngFor="let brand of brands" 
                    [value]="brand.brandId" 
                    [selected]="setCurrentBrand(brand.brandId)">
                    {{brand.brandName}}
                </option>
            </select>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
            <button 
            class="btn btn-dark"
            routerLink="/cars/brand/{{currentBrandId}}" >
                Filter
            </button>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
            <button class="btn btn-dark"
            routerLink="/cars">
                Clear
            </button>
        </div>
    </div>
