
<header>
   <div class="logo">
    <a><img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" 
      id="header-img" 
      alt="Funky Sun" style="border-width:0px;"></a>
  </div> 
  
<p id="fallout"><span>F</span>unky Sun</p>
  <p id="code">RE<span>N</span>TAL C<span>AR</span></p>
 
</header>
  
<div id="nav" role="navigation" >
  
  <ul>
    <li><a href="home">About</a></li>
    <li><a href="">List</a>
      <ul>
        <li><a routerLink="cars">Car</a></li>
        <li><a routerLink="brandlist">Brand</a></li>
        <li><a routerLink = "colorlist">Color</a></li>
        <li><a routerLink = "customers/getcustomerdetail">Customer</a></li>     
      </ul>
    </li>
    <li><a routerLink="carlist">Car</a></li>
    <li><a href="brandlist">Brand</a></li>
    <li><a href="colorlist">Color</a></li>
    <li><a href="rentals">Rental</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="register">Register</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="cart">Cart</a></li>
    <li><a href="payments">Payment</a></li>
  </ul>

</div>

