<header id="header">
  <div id="img-container">
    <img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" 
    id="header-img" alt="Logo">
 </div>
    <nav id="nav-bar">
      <h1 class="name"> <a href='_self' routerLink="home">Funky Sun</a></h1>
      <ul class="menu">
       <li><a target='_self' routerLink="home">About Us</a></li>
       
       <li><a href="#">List Menu</a>
            <ul>
            <li><a routerLink="cars">Cars</a></li>
            <li><a routerLink="brands">Brands</a></li>
            <li><a routerLink = "colors">Colors</a></li>
            <li><a routerLink = "customers">Customers</a></li>          
            </ul>
          </li>
       <li><a href='#'>Add</a>
        <ul>
        <li><a routerLink="cars/add">Car</a></li>
        <li><a routerLink = "brands/add">Brand</a></li>
        <li><a routerLink = "colors/add">Color</a></li>
        <li><a routerLink = "customers/add">Customer</a></li>          
        </ul>
      </li>
      <li><a href='#'>Update</a>
        <ul>
        <li><a routerLink="cars/update/:carId">Car</a></li>
        <li><a routerLink = "brands/update/:brandId">Brand</a></li>
        <li><a routerLink = "colors/update/:colorId">Color</a></li>
                  
        </ul>
      </li>
      <li><a routerLink="login"> Login </a>
      </li>
      <li><a routerLink="register"> Register </a>
      </li>
       <li><a href='#contact' class="nav-link">Contact</a></li>
    </ul>
           </nav>
   </header>
   