
 <header id="header">
    <div id="img-container">
      <img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" 
      id="header-img" alt="Logo">
      />
   </div>
      <nav id="nav-bar">
         <a href='#' class="nav-link">Sing</a>
      <a href='#' class="nav-link">Me</a>
        <a href='#' class="nav-link">In</a>
        <a href='#' class="nav-link">The</a>
  
        <a href="#" class="nav-link">Morning</a>
             </nav>
     </header>

   
       
      
  
 

                                   