<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal">
  Kart Ekle
</button>

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardModalLabel">Kredi Kartı Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="content">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <form [formGroup]="cardAddForm">
                              <label for="customerId">User</label>
                    <div class="form-group">
                    <select type = "number" id="customerId" formControlName="customerId"
                    class="form-select">
                <option [ngValue] = "customer.customerId"
                *ngFor = "let customer of customers">{{customer.firstName}} {{customer.lastName}}</option>
                </select> </div>
                              <label for="nameOnTheCard"> Card Name </label>
                              <div class="form-group">
                                  <input type="text" id="nameOnTheCard" formControlName="nameOnTheCard" class="form-control" placeholder=" "/>
                              </div>
                              <label for="cardNumber">Card Number</label>
                              <div class="form-group">
                                  <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control" placeholder=" "/>
                              </div>
                              <label for="expirationDate"> Expiration Date</label>
                              <div class="form-group">
                                  <input type="date" id="expirationDate" formControlName="expirationDate" class="form-control" placeholder=" "/>
                              </div>
                              <label for="cardCvv">Security Code</label>
                              <div class="form-group">
                                  <input type="text" id="cardCvv" formControlName="cardCvv" class="form-control" placeholder=" "/>
                              </div>
                              <label for="moneyInTheCard">moneyInTheCard</label>
                              <div class="form-group">
                                  <input type="number" id="moneyInTheCard" formControlName="moneyInTheCard" class="form-control" placeholder=" "/>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="addCard()">Save changes</button>
      </div>
    </div>
  </div>
</div>