
<footer id="contact">
    <div class="container">
        
        <ul class="list-unstyled list-inline">
          <li>
            <a href="mailTo:quityo@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
          </li>
          <li>
            <a href="https://github.com/quityo" target="_blank"><i class="fa fa-github fa-2x"></i></a>
          </li>
          <li>
            <a href="https://codepen.io/quityo/" target="_blank"><i class="fa fa-codepen fa-2x"></i></a>
          </li>  
          <li>
            <a href="https://www.freecodecamp.com/fufu" target="_blank"><i class="fa fa-fire fa-2x"></i></a>
          </li>        
        
          <li>
            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
          </li>
          <li>
        </ul> 
      </div>
      
        <div class="pull-left">© 2021 Funk Sun Corporation</div>
      
    
    
  </footer>