footer .pull-left{
  opacity:inherit;
    color: rgb(75, 213, 238);;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 44px;
    
   width: 100%;
  }
 
  .container{
    
    margin: 80px 20px 0 20px;
    font-size: 0.7em;
  }
  
  footer a {
    color: rgb(75, 213, 238);
    transition: color 0.3s linear;
    margin-right: 20px;
    
  }
  
  footer a:hover {
    color: white;
  }
  
  footer ul {
    display: inline;
    
  }
  
  footer small {
    margin: 40px 20px 0 20px;
    font-size: 0.7em;
  }
  
  .list-inline>li {
    
    float: left;
    align-items:flex-start;
    
  }
 