footer {
    background-color: black;
    color: rgb(75, 213, 238);;
    margin-bottom: 30px;
    margin-top: 50px;
   
  }
  footer .social {
    margin: 80px 0;
    
  }
  
  .h4 {
    margin-bottom: 40px;
    justify-content: center;
        align-items: center;
  }
  
  footer a {
    color: rgb(75, 213, 238);
    transition: color 0.3s linear;
    margin-right: 20px;
   
  }
  
  footer a:hover {
    color: white;
  }
  
  footer ul, footer small {
    display: inline;
    
  }
  
  footer small {
    margin: 5px 20px;
    font-size: 0.7em;
  }
  
  .list-inline>li {
    margin-top: 20px;
    float: left;
    
    
  }
  .container {
    display: flex;
        justify-content: center;
        align-items: center;
  }