<hr>
<main class="form-add">
  <div class="container">
    <div id="add" class="add-card">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" alt="Logo"
          title="Funky Sun" id="Logo" width="80">
      </div>
      <h1 class="display1">Funky Sun</h1>
      <p class="subhead">Rental Car</p>
      <hr>
      <h2 class="display2">
        <hr>Customer List Page
        <hr>
      </h2>
    </div>
    <hr>
    <br>

    <table class="table table-bordered table-condensed table-hover">

      <thead>
        <tr>

          <td>Full Name </td>

          <td>Company Name</td>
          <td>Email Address</td>
          <td>customerFindex</td>
          <td>Image Update</td>
          <td>Role Update</td>
          <td>Add Card</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" style="text-align: center;">
          <td><a routerLink="/users/{{customer.userId}}">{{customer.firstName}} {{customer.lastName | uppercase}}</a>
          </td>

          <td>{{customer.companyName}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.customerFindex}}</td>
          <td><button class="btn" routerLink="/userimages/{{customer.userId}}">Image</button></td>
          <td><app-user-operation-claim-update></app-user-operation-claim-update></td>
          <td><app-card></app-card></td>


        </tr>
      </tbody>

    </table>
    