
<div class="container py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom" style="margin: auto;">Admin Panel</h2>
    <div class="row g-5 py-5">
      <!-- <div class="col-md-3 d-flex align-items-start">
       
        <div>
          <h4>Add Brand</h4>
          <app-brand-add></app-brand-add>
        </div>
        <div >
          <app-brand-update></app-brand-update>
          <app-color-update></app-color-update>
        </div>
        <div>
          <h4>Add Color</h4>
          <app-color-add></app-color-add>
        </div>
        <div >
          <app-color-update></app-color-update>
        </div>
        <div >
          <h4>Add Car</h4>
          <app-car-add></app-car-add>
        </div>
        
        
      </div> -->
      <div class="col-md-3 d-flex align-items-start" style="margin: 50px 0 0 40.5%; ">
        
        <div >
          <app-menu></app-menu>
        </div>
      </div>
      
     
    </div>
  </div>