<div class="row" style="margin:auto;">
    <div class="col-lg-4 "*ngFor ="let user of users">
        <div  class="card  text-white " style="width: 100%;">
            <div class="card-body">
            <div class="right" >
            <img class="profile_img" src="{{imageBasePath}}{{user.imagePath}}" alt="">
            <button class="btn " style="margin-left:40%; margin-top: 10px;"routerLink="/userimages/{{user.userId}}">Image</button>
            <h2 class="card-title text-center">{{user.firstName}} {{user.lastName}}</h2>
            <p>{{user.email}}</p>
           
        </div>
    
    
        
            
            <p>Company: {{user.companyName}}</p>
            
            
             <p>Car: {{user.carName}}</p>
            <p>Brand: {{user.brandName}}</p>
            <p>Rent: {{user.rentDate}}</p>
            <div class="interests" >
               
            <div class="row justify-content-center">
                <a routerLink="/users/{{user.userId}}" class="btn  ">Details</a>
                
        </div>  
            </div> 
        

            