
#img{
    text-align: center;
    border-radius: 100px;
    margin: auto;
    display: block;
    width: 65%;
    height: 330px;
}
h3 {
    text-align:center;
    color: white;
    font-size: 40px;;
}
h2{
    text-align: center;
    color:yellow;
    font-size: 13px;
    font-style: italic;
}
.tb{
    
    height: 150px;
  width:350px; 
  margin: auto;
  display: block;
  font-size: 23px;
}
.table {
    color: yellow;
}
.card{
    background-color: black;
}
/* Popup (arka plan) */
.modal {
    display: none; /* Varsayılan olarak gizlidir */
    position: fixed; /* Yerinde kal */
    z-index: 1; /* Üstte */
    left: 0;
    top: 0;
    width: 100%; /* Ful Genişlik */
    height: 100%; /* Ful Yükseklik */
    overflow: auto; /* Gerekirse kaydırmayı etkinleştir */
    background-color: rgb(0,0,0); /* Yedek renk */
    background-color: rgba(0,0,0,0.4); /* Siyah w / opaklık */
}
/* İçerik / Kutu */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* % 15 üstten ve ortalanmış */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ekran boyutuna bağlı olarak daha fazla veya daha az olabilir */
}
/* Kapat Düğmesi */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

