.d-block{
    width: 10%;
    height: 500px;
    text-align: center;
    border-radius: 200px;
    margin: auto;
    display: block;
}
h5 {
    text-align:center;
    color: white;
    font-size: 40px;;
}
h2{
    text-align: center;
    color:yellow;
    font-size: 13px;
    font-style: italic;
}
.tb{
    
    height: 100px;
  width:350px; 
  margin: auto;
  display: block;
  font-size: 23px;
}
.table {
    color: yellow;
}
.card{
    background-color: black;
}
