
#img{
    text-align: center;
    border-radius: 100px;
    margin: auto;
    display: block;
    width: 65%;
    height: 330px;
}
h3 {
    text-align:center;
    color: white;
    font-size: 40px;;
}
h2{
    text-align: center;
    color:yellow;
    font-size: 13px;
    font-style: italic;
}
.tb{
    
    height: 150px;
  width:350px; 
  margin: auto;
  display: block;
  font-size: 23px;
}
.table {
    color: yellow;
}
.card{
    background-color: black;
}