<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#colorUpdateModal">
  Color Update 
   </button>
     
     <!-- Modal -->
     <div class="modal fade" id="colorUpdateModal" tabindex="-1" aria-labelledby="colorUpdateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="colorUpdateModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="colorUpdateForm">
                  <div class="form-group">
                      <label for="colorId">Select Color</label>
                      <div class="form-group">
                          
                      <select formControlName="colorId" class="form-select" aria-placeholder="Select Color" id="colorSelectUpdate">
                              <option [ngValue] = "color.colorId"
                      *ngFor = "let color of colors">{{color.colorName}}</option>
                          </select>
                      </div>
                      <input type="text" id="colorNameUpdate" formControlName="colorName" class="form-control" placeholder=""/>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="updateColor()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>