.modal-title{
    color:black;
    margin: 10px 0 0 180px;
  }
  .form-group{
    color:black;
    margin: auto;
  }
  .btn{
    display:block;
	padding:6px 12px;
	color:white;
	text-decoration:none;
  margin: auto;
  text-align: center;
  }

  .btn:hover {
    color:yellow;
  }