<div id="sw">	
	<div id="sw-intro">
      A long time ago, in a galaxy far, far away...
    </div>

    <div>
      <img id="sw-logo"  src="https://res.cloudinary.com/fufufu/image/upload/v1618106431/uyy_awqiy5.jpg"
       alt="Star Wars">
    </div>
 
    <div id="sw-crawl">
      <div id="sw-crawl-episode-number">Episode I</div>
      <div id="sw-crawl-episode-title">THE RENT A CARWALKER</div>
      <div id="sw-crawl-episode-text">
        <p>"Start your engines!"</p> 
         
      <p>The galaxy heard a mysterious sound, the threat of EXAM in the humble voice of Emperor ENGIN DEMIROG, his knowledge spread across the universes.</p> 
      <br>  
      <p> GENERAL <i>FUNK</i> dispatched secret agents to Discord to gather intelligence, Open BOOK continues to work to fight against the FIRST EXAM, the students' last hope.</p> 
      <br>
      <p>Meanwhile, Supreme Leader "TTNET" rages on the search for an alternative phantom Internet, determined to destroy any threat to its power....</p> 
      
    </div> 
    <audio preload="auto" autoplay>
      <source src="https://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">
    </audio>
 
	</div>
</div>
