
#sw-intro {
	font-family: "Franklin Gothic Book";
  position: absolute;
	width: 500px;
  top: 50%;
	left: 50%;
	opacity: 0;
  transform: translateX(-50%) translateY(-50%);
	color: rgb(75, 213, 238);
	font-size: 40px;
	animation: intro 5s ease-in-out 1s;
}

#sw-logo {
	position:absolute; 
	top:30%;
	left:25%; 
	height:50%; 
	width:50%;
	opacity: 0;
	animation: logo 14s linear 6s;
}


#sw-crawl {
	font-family: "Franklin Gothic";
	text-align: center;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transform-origin: 50% 100%;
	transform: perspective(700px) scaleZ(1) rotatex(40deg);
	animation: crawl 100s linear 16s;
	overflow: hidden;
	width: 640px;
	left: calc(50% - 320px);
	color: rgb(252, 223, 43);
}

#sw-crawl-episode-number {
	font-size: 50px;
	margin-bottom: 20px;
}

#sw-crawl-episode-title  {
	font-size: 100px;
  transform: scaleX(0.5);
  text-align: center;
  color: white;
    text-transform: inherit;
    letter-spacing: inherit;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
    font-style: italic;
}

#sw-crawl-episode-text {
	text-align: center;
	font-size: 40px;
	width: 640px;
	margin: auto;
	
    color: white;
    text-transform: inherit;
    letter-spacing: inherit;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
    font-style: italic;
}

@keyframes crawl {
	0% { top: 100%; opacity: 1;}
	99% { opacity: 1;}
	100% { top: -1500px; opacity: 0}
}

@keyframes intro {
	0% { opacity: 0; }  
	25% { opacity: 1; } 
	75% { opacity: 1; } 
	100% { opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1;}  
	85% { opacity: 1;}
	100% { transform: scale(0); opacity: 0;} 
}

