*{
    background-color: black;
}
#payment{
    width:200px;
}

#tablerental{
    text-align: center;
    border:2px solid  silver;
    color: white;
}
#tablerentalthead{
    background-color: rgb(163, 206, 255);
}
#card{
    width: 400px;
    height: 15rem;
    background: url("https://res.cloudinary.com/fufufu/image/upload/v1618106431/uyy_awqiy5.jpg")center center;
    background-size:cover;
    border-color: grey;
    border-radius: 10px;
    margin:auto;
   }
 .text-center{
    font-size: 20px;
    font-weight: 100;
    line-height: 2;
    color: white;
    text-transform: inherit;
    letter-spacing: inherit;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
    font-style: italic;
   }
   
   .card-number{
    position:absolute;
     bottom:top-right;
     color: white;
     right:  0.5em;
     
     text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
   }
   .card-user{
    position:absolute;
     bottom: top;
     color: white;
     left:  0.4em;
     
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
   }
   .card-exp {
    position:absolute;
    bottom: 0;
    color: white;
    left:  0.4em;
     
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
   }
   
   .payme{
       color: white;
       border-color: grey;
       border-radius: 10px;
       
   }
   
   .payme:hover{
       color:yellow;
   }
   .col-md-6{
       color: white;
   }