<html>
  <head>
  </head>
  <body>
    <br>
    <h3 class="text-center">"A long time ago in a galaxy far, far away.."</h3>
<br>
<table class="table table-bordered" id="tablerental">
    <thead id="tablerentalthead">
        <tr>
            <th>Start</th>
            <th>Finish</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Description</th>
            <th>Daily Price}</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td >{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.colorName}}</td>
            <td>{{rental.description}}</td>
            <td>{{rental.dailyPrice}}</td>
            <td style="background-color:yellow; color: black">{{amountOfPayment}}</td>
        </tr>
    </tbody>
</table>
<br>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
               
                  <div class="panel-body">
                    <div>
                      <div class="card credit-card col-6" id="card">
                     
                        <div class="card-number">{{cardNumber ? cardNumber : ''}}</div>
                      <div class="card-user">{{nameOnTheCard  ? nameOnTheCard : ''}}</div>
                      <div class="card-exp">{{expirationDate ? expirationDate: ''}}
                      </div>
                    </div>
                    
                    <br>
                    <h3 class="text-center">May The Money Be With You</h3>
                    <br>
                      <div class="row">
                          <div class="col-md-6 mb-3">

                        
                              <label for="cc-name">Name on card</label>
                              <input [(ngModel)]="nameOnTheCard" type="text" class="form-control" id="cc-name" placeholder="" required>
                              <small class="text-muted">Full name as displayed on card</small>
                              <div class="invalid-feedback">
                                Name on card is required
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="cc-number">Credit card number</label>
                              <input [(ngModel)]="cardNumber" title="Must contain at least 8 or more characters" type="text" class="form-control" id="cc-number"  pattern="[0-9]{16}" onKeyPress="if(this.value.length>=16) return false; "placeholder="**** **** **** ****" required (input)="cardNumberSplit()">
                              <div class="invalid-feedback">
                                Credit card number is required
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <label for="cc-expiration">Expiration</label>
                              <input [(ngModel)] = "expirationDate" type="text" class="form-control" id="cc-expiration" placeholder="MM/YYYY" required>
                              <div class="invalid-feedback">
                                Expiration date required
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="cc-expiration">CVV</label>
                              <input [(ngModel)] = "cardCvv" type="text" class="form-control" id="cc-cvv" placeholder="CCV" required>
                              <div class="invalid-feedback">
                                Security code required
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
 
    <div class="card-footer">
      <div class="row">
          <button (click) = "rentACar()" class="btn btn-warning">
              {{amountOfPayment}} Ödeme Yap
          </button>
      </div>
  </div>
  </div>
</body>
</html>