


.modal-content{
  display:flex;
  flex-wrap:wrap; 
  background-color: black;
  color:white;
 
}


.modal-title{
  font-size: 25px;
    font-weight: 100;
    line-height: 2;
    color: white;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 
    0 0 10px #ff8d00, 0 0 98px #ff0000;
}
.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.my-module {
  z-index: 1500;
}