@import 'https://fonts.googleapis.com/css?family=Caveat|Oxanium|Jura';

*{
  background-color: black;
  font-family: Oxanium;
  
}
#mmenu_screen > .row {
  min-height: 100vh;
}


.flex-fill {
  flex:1 1 auto;
}
.list-group {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;  
  }
  .list-group:hover{
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 18px; 
  }
  .ul{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  
 