<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" src = "app.component.css">
  </head>
  <body>
  </body>
</html>
<app-navi></app-navi>
<br><br><br>
<div class ="row">
  <div class="col-md-2">
    <br> 
    <app-brand-filter></app-brand-filter>
    <app-brand></app-brand>  
    
  </div>
  <div class="col-md-8">
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-md-2">
    <br> 
    <app-color-filter></app-color-filter>
    <br>
    <app-color></app-color>
    <br>
    

  </div>
  
  <app-footer></app-footer>
</div>