@import 'https://fonts.googleapis.com/css?family=Caveat|Oxanium|Jura';

*{
 
  font-family: Oxanium;
  
}
#menu_screen > .row {
  
 
  color: black;

}
.col-md-2{
  background-color: transparent;
}

.xxx{
  background-color: transparent;
  
}

.flex-fill {
  flex:1 1 auto;
}
.list-group {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;  
  }
  .list-group:hover{
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 18px; 
  }
  .ul{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  #foot{
    width: 100%;
    opacity: 70;
  }
 

 .stars, .twinkl {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  
  display:block;
  height: 2100px;
  position: absolute; 
  width: 100%;
}

* .stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-1;
  width: 100%;
}

* .twinkl{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
