 <div>
  <div class="stars"></div>
  
    	<div class="twinkl"></div>
</div>


<app-navi></app-navi>

<div id="menu_screen" class="container-fluid main_container d-flex" >
<div class ="row flex-fill">
  
  <div class="col-md-2">
    <br>
    
    <app-filter></app-filter>
    <div id="foot">
      <br><br><br>
    <app-footer></app-footer></div>
  </div>
  <div class="col-md-8">
    <div class="xxx">
     
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="col-md-2">
    
  </div>
  

  <br><br><br><br><br>
  
  </div>
</div>


