 <main >
  
    <div id="login" class="signin-card">
      <div class="logo-image">
        <img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" alt="Logo" title="Logo"
          width="80">
      </div>
      <h1 class="display1">Funky Sun</h1>
      <p class="subhead">Rental Car</p>
      <form action="" [formGroup]="loginForm" method="" class="" role="form">
        <div id="form-floating" class="form-group">
          <input id="floatingInput" class="form-control" formControlName="email" placeholder="em@il" name="username"
            type="email" size="18" alt="login" />
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label for="floatingInput" class="float-label"></label>
        </div>
        <div id="form-floating" class="form-group">
          <input formControlName="password" id="floatingPassword" class="form-control" placeholder="Password"
            name="password" type="password" size="18" alt="password" required>
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label for="floatingPassword" class="float-label"></label>
        </div>

        <div id="form-login-remember" class="form-group">
          <div class="checkbox checkbox-default">
            <input id="remember" type="checkbox" value="yes" alt="Remember me">
            <label for="remember">Remember me</label>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="login()" name="Submit"
            alt="sign in">Enter</button>
        </div>


      </form>
    
  </div> 
  <br><br><br><br>




  