table.table.table-bordered {
    text-align: center;
}
.table-bordered{
    background-color: black;
    border-width: 5px solid;
    
}
table, td {
    border:2px solid darkgrey;
}
th{
    border:2px solid yellow;
}
.cursorPointer{
    cursor: pointer;
}

#image{
    vertical-align: middle;
}
.card-img-top {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}
p{
    font-family: Jura;
}