
#image{
    vertical-align: middle;
}
.card-img-top {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}
p{
    font-family: Starwars;
    text-align:center;
    letter-spacing:2px;
    font-family: Governor 3D;
}
.card-title{
  
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    
}
.btn {
   color:white;
    border-color:silver;
    font-family: Star Jedi;
}

.btn:hover{
    color: black;
    font-family: Star Jedi;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    border:none;
}

