<div class="row">  
    <div class="col-md-12">
        <select class="form-select" id="colorselect"
                [(ngModel)]="currentColorId"  
                >
            <option 
                [ngValue]="undefined" disabled  selected> 
                --- Renk Seçiniz ---
            </option>
            <option 
                *ngFor="let color of colors" 
                [value]="color.colorId" 
                [selected]="setCurrentColor(color.colorId)">
                {{color.colorName}}
            </option>
      </select>
    </div>       
</div>
<div class="row pb-3">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <button 
        class="btn btn-danger"
        routerLink="/cars/filter/{{currentColorId}}" >
            Filter
        </button>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <button class="btn btn-warning"
        routerLink="/cars">
            Clear
        </button>
    </div>
</div>