<hr>
<main class="form-add">
    <div class="container">
      <div id="add" class="add-card">
        <div class="logo-image">
          <img src="https://res.cloudinary.com/sunadramali/image/upload/v1523811887/yellow.png" alt="Logo" title="Funky Sun" id="Logo"
            width="80">
        </div>
        <h1 class="display1">Funky Sun</h1>
        <p class="subhead">Rental Car</p>
        <hr>
         <h2 class="display2"> <hr>Brand List Page<hr></h2>
         </div>
         <hr>
         <!-- <div class="content"> -->
          
<br>
<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-info" routerLink = "/brands/add" type="button"><b>Add</b></button>
</div> -->

<table class="table table-bordered table-condensed table-hover" >
    <!-- <thead class="thead-dark">
        <tr style="text-align: center;">
            <th scope="col">Brand</th>
            <th scope="col">Update</th>
            <th scope = "col">Delete</th>
        </tr>
    </thead> -->
    <tbody>
        <tr *ngFor="let brand of brands" style="text-align: center;">
          <td> <a routerLink= "/cars/brand/{{brand.brandId}}">  {{brand.brandName}}</a>
            <td class="operations">
                    
                           
              <app-brand-update>Update</app-brand-update>
            </td>
          <td><button class="btn btn-danger" (click)="deleteBrand(brand)">Delete</button></td>
        </tr>
      </tbody>
</table>