<ul>
	<li class="block">
		<input type="checkbox" name="item" id="item1" />   
		<label for="item1">List Menu</label>
		<ul class="options">
			<li><a href= "/carlist">Car List</a></li>
			<li><a href="/brandlist">Brand List</a></li>
			<li><a href="/colorlist">Color List</a></li>
            <li><a href="/customerlist">Customer List</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item2" />   
		<label for="item2"> Add List</label>
		<ul class="options">
			<li><a href="cars/add">Car Add</a></li>
			<li><a href="brands/add">Brand Add</a></li>
			<li><a href="colors/add">Color Add</a></li>
            <li><a href="register">User Add</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item3" />   
		<label for="item3"> Update</label>
		<ul class="options">
			<li ><app-color-update></app-color-update></li>
			<li ><app-brand-update></app-brand-update></li>
			<li><a href="colors/add">Color Add</a></li>
            <li><a href="register">User Add</a></li>
		</ul>
		
	</li>


	<li class="block">
		<input type="checkbox" name="item" id="item4" />   
		<label for="item4">Administrator</label>
		<ul class="options">
			
			<li><a href="users/getall">User Details</a></li>
			<li><a href="rentallist">Rental Details</a></li>
			<li><a href="">Payment Details</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item5" />   
		<label for="item5">Space - 1</label>
		<ul class="options">
			<li><a href="">Space-1</a></li>
			<li><a href="">Space-2</a></li>
			<li><a href="">Space-3</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item6" />   
		<label for="item6">Space - 2</label>
		<ul class="options">
			<li><a href="">Space-1</a></li>
			<li><a href="">Space-2</a></li>
			<li><a href="">Space-3</a></li>
		</ul>
	</li>
	
</ul>

